In [1]:
import pandas as pd

new_df = pd.read_csv('input_data\Machine Learning article database _ Alldata_SMILES_v0.1.xlsx - Sheet1.csv')
print(len(new_df))
new_df.head()

4386

,Unnamed: 0,Absorption/nm,Emission/nm,PLQY,SMILES,solvent,Reference(doi),Et30,SP,SdP,SA,SB,"Test method of Quantum Yield (0= measured by relative method/not mention in origin paper, 1= absolute QY)",Unnamed: 13
0,1,355.0,427.0,0.390,O=C(OC)C1=CC2=NC(C3=CC=C(C=C3)OC)=CN2C=C1,DMSO,10.1021ja204016e_0306,45.1,0.83,1.0,0.072,0.647,0.0,Figure 2 Quantum yields were measured using fl...
1,2,426.0,520.0,0.430,O=C(OC)C1=CC2=NC(C3=CC=C(C=C3)OC)=C(N2C=C1)N,DMSO,10.1021ja204016e_0306,45.1,0.83,1.0,0.072,0.647,0.0,NaN
2,3,387.0,528.0,0.490,O=C(C1=CC2=NC(C3=CC=C(OC)C=C3)=C(NC4CCCCC4)N2C...,DMSO,10.1021ja204016e_0306,45.1,0.83,1.0,0.072,0.647,0.0,NaN
3,4,355.0,627.0,0.002,COC1=CC=C(C=C1)C2=C(NC3CCCCC3)N(C(C(OC)=O)=CC=...,DMSO,10.1021ja204016e_0306,45.1,0.83,1.0,0.072,0.647,0.0,NaN
4,5,365.0,560.0,0.009,COC1=CC=C(C=C1)C2=C(NC3CCCCC3)N(C=CC=N4)C4=N2,DMSO,10.1021ja204016e_0306,45.1,0.83,1.0,0.072,0.647,0.0,NaN

In [2]:
new_sub_df = new_df[['SMILES', 'solvent', 'PLQY']]
new_sub_df.columns = ['Chromophore', 'Solvent', 'Quantum yield']
new_sub_df.head()

                                         Chromophore Solvent  Quantum yield
0          O=C(OC)C1=CC2=NC(C3=CC=C(C=C3)OC)=CN2C=C1    DMSO          0.390
1       O=C(OC)C1=CC2=NC(C3=CC=C(C=C3)OC)=C(N2C=C1)N    DMSO          0.430
2  O=C(C1=CC2=NC(C3=CC=C(OC)C=C3)=C(NC4CCCCC4)N2C...    DMSO          0.490
3  COC1=CC=C(C=C1)C2=C(NC3CCCCC3)N(C(C(OC)=O)=CC=...    DMSO          0.002
4      COC1=CC=C(C=C1)C2=C(NC3CCCCC3)N(C=CC=N4)C4=N2    DMSO          0.009

In [3]:
print(len(new_sub_df))
new_sub_df = new_sub_df.drop_duplicates(subset=['Chromophore', 'Solvent'])
print(len(new_sub_df))
new_sub_df = new_sub_df.dropna()
print(len(new_sub_df))
new_sub_df.head()

4386
4346
3061

                                         Chromophore Solvent  Quantum yield
0          O=C(OC)C1=CC2=NC(C3=CC=C(C=C3)OC)=CN2C=C1    DMSO          0.390
1       O=C(OC)C1=CC2=NC(C3=CC=C(C=C3)OC)=C(N2C=C1)N    DMSO          0.430
2  O=C(C1=CC2=NC(C3=CC=C(OC)C=C3)=C(NC4CCCCC4)N2C...    DMSO          0.490
3  COC1=CC=C(C=C1)C2=C(NC3CCCCC3)N(C(C(OC)=O)=CC=...    DMSO          0.002
4      COC1=CC=C(C=C1)C2=C(NC3CCCCC3)N(C=CC=N4)C4=N2    DMSO          0.009

In [4]:
solvent_set = set(new_sub_df['Solvent'])
print(len(solvent_set))
print()
print(solvent_set)

55

{'1-Butanol', 'Ethylene glycol', 'cyclohexane', 'Diisopropyl ether', '1-Hexanol', 'toluene', 'DMSO ', 'Glycerol', 'THF ', '2-Pentanone', '1-Decanol', 'dioxane', 'ethyl acetate', 'THF', '2-Propanol', 'Toluene ', 'Hexane', 'TFE', 'Butyl acetate', 'Tert-pentanol', 'CCl4', 'Di-n-butyl ether', 'Pyridine', 'H2O', 'heptane', 'hexane', 'DMF', '1-Propanol', 'benzene', 'o-Dimethoxybenzene', 'Triethylamine', 'Formamide', 'DMA', 'Diethyl ether', 'N-Methylformamide', '2-Methylbutane', 'Methyl acetate', 'methylcyclohexane', 'Methyl formate', 'CHCl3', '1-methyl-2-pyrrolidinone', 'Me-THF', 'Acetonitrile:H2O(1:1)', 'CH2Cl2', '2-propanol', '1-octanol', '1-Octanol', 'DMSO', 'Cyclohexane', 'EtOH', 'Acetone', 'MeCN ', 'MeOH', 'Bromobenzene', 'Toluene'}

In [5]:
solvent_df = pd.DataFrame(solvent_set)
solvent_df.to_csv('input_data/unique_solvents.csv', index=False)